<div>
  <% flash.each do |type, message| %>
    <div class="<%= type %>"><%= message %></div>
  <% end %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited registration:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1 class="font-bold text-4xl">Sign Up</h1>
  <%= form_with(model: @user, url: signup_path, local: true) do |form| %>
    <div class="field">
      <%= form.label :username, "Username:" %>
      <%= form.text_field :username, required: true %>
    </div>
    <div class="field">
      <%= form.label :password, "Password:" %>
      <%= form.password_field :password, required: true %>
    </div>
    <div class="field">
      <%= form.label :verify_password, "Verify Password:" %>
      <%= form.password_field :verify_password, required: true %>
    </div>
    <div class="actions">
      <%= form.submit "Register" %>
    </div>
  <% end %>
</div>
